a[href]:not([href=""]):visited {
    color: #161616;
    text-decoration: none;
    font-style: italic;
    text-decoration: underline;
}

a[href]:not([href=""]):hover {
    text-decoration: underline;
}

a[href]:not([href=""]):active {
    background-color: var(--color-light-grey);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}
.section-tagline {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}

:root { 
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey:#f3f3f3;
    --color-dark-grey: #353535;
}